<%- include('./partials/header') %>

    <h2 id="indexsh">
        What is Warhammer
    </h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/X98ImCbhjnI?si=LGfis-akt84nexW-" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    
    <h2 id="indexsh">
        Factions
    </h2>
    <section id="fl">
    
    <% for (let x in armiesList) {%>
        <article id="armyContainer">
            <img id="aLogo" src="<%=armiesList[x].armyLogo%>" width="70" height="50">
            <h3>
                <%=armiesList[x].name%>
            </h3>
        
            <a href="/createlist/<%=armiesList[x].name%>">
                Create Army List
            </a>
        </article>
    <%}%>
    </section>
    <h2 id="indexsh">
        Created Lists
    </h2>
    <% for (let x in playerList) {%>
        
        <a href="/list/<%=playerList[x]._id%>" id="listLinks">
        
            <%=playerList[x].listName%>
        
        </a>
        
    <%}%>

<%- include('./partials/footer') %>