<%- include('./partials/header') %>

    <section id="fl">
    <% for (let x in armiesList) {%>
        <article id="armyContainer">
            <img src="<%=armiesList[x].armyLogo%>" width="70" height="50">
            <h3>
                <%=armiesList[x].name%>
            </h3>
        
            <a href="/createlist/<%=armiesList[x].name%>">
                Create Army List
            </a>
        </article>
    <%}%>
    </section>
    <h2>
        Created Lists
    </h2>
    <% for (let x in playerList) {%>
        
        <a href="/list/<%=playerList[x]._id%>" id="listLinks">
        
            <%=playerList[x].listName%>
        
        </a>
        
    <%}%>

<%- include('./partials/footer') %>