<%- include('./partials/header') %>
<h2>
    <%=armyToEdit.listName%>
</h2>

<form action="/editlist/<%=armyToEdit._id%>?_method=DELETE" method="POST">
    <input type="submit" value="Trash">
    <p>Warning This Will Delete your current list</p>

</form>

<h3>List Info</h3>
<p>
    Created by: <%=armyToEdit.author%> <br>
    Faction: <%=armyToEdit.ArmyInfo[0].name%> 
</p>
<h3>Units</h3>
<h4>Units Avalible</h4>
<% for (let x in armyToEdit.ArmyInfo[0].avalibleUnits){%>
<p>
    <%=armyToEdit.ArmyInfo[0].avalibleUnits[x].unitName%>
    <form action="/editlist/<%=armyToEdit._id%>?_method=PUT" method="POST">
        
        <input type="submit"  value="<%=armyToEdit.ArmyInfo[0].avalibleUnits[x].unitName%>" name="thisUnitName" >
    </form>  
</p>
<%}%>

<h3>
    Units
</h3>
<% for (let x in armyToEdit.unitsInList) {%>
<p>
    <%=armyToEdit.unitsInList[x].unitName%>
</p>
<%}%>

<%- include('./partials/footer') %>